:root {
    --radius-small: 10px;
    --radius-medium: 20px;
    --radius-large: 50px;

    --padding-small: 10px;
    --padding-medium: 30px;
    --padding-display: 100px;

    --font-size-regular: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-display: 5rem;

    --clr-bg: #050810;
    /* --clr-bg: white; */

    --clr-gray: #5B5B5B;
    --clr-gray-light: #7D7C7A;
    --clr-gray-light-transparent: #7d7c7a75;
    --clr-blue-dark: #000022;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body, html {
    min-height: 100%;
}

body {
    /* background-color: var(--clr-bg); */
    /* background: rgb(46,25,39); */
    background: linear-gradient(0deg, rgb(17, 18, 23) 0%, rgba(5,8,16,1) 10%);
    font-family: helvetica;
    font-weight: 100;
    color: white;
}

.players-display {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    padding: 5px 30px;
}

.player-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.board-section {
    margin-top: 5%;
}

.board-container {
    margin: auto;
    /* border: 2px solid white; */
    width: 500px;
    height: 500px;
    position: relative;
}

.board-mask,
.board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.board-mask {
    border-radius: var(--radius-large);
    background-color: #05081043;
    box-shadow: inset -10px -10px 60px -10px var(--clr-bg),inset 10px 10px 78px -38px var(--clr-bg);
    
}

.mask-cell {
    border: 1px solid rgba(192, 192, 192, 0.598);
    z-index: -1
}

.board {
    border: 2px solid var(--clr-bg);
    /* border-radius: var(--radius-small); */
    box-shadow: inset -10px -10px 70px -10px var(--clr-bg),inset 10px 10px 78px -38px var(--clr-bg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}


.cell {

    opacity: 0.7;
    background-size: 60%;
    background-position: center center;

    transition: 
        opacity 0.5s ease-in, 
        /* background-position 200ms ease-in 50ms; */
        background-size 100ms ease-in,
        box-shadow 0.5s ease-out

}

.nought,
.cross {
    opacity: 0.85;
    filter: invert(0.8);
    z-index: 1; 
}

.nought {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
    background-image: url(./icon/circle-svgrepo-com.svg);
    background-size: 73%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cross {

    background-image: url(./icon/multiply-svgrepo-com.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

dialog {
    backdrop-filter: blur(2px);
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

#restart-modal {
    margin: auto;
    transition: all 1s ease-in-out;
}

.result-banner {
    font-size: var(--font-size-display);
    padding: var(--padding-display);
}

.player-dialog {
    padding: var(--padding-display);
    /* background-color: rgba(0, 0, 0, 0.582); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.498) 68%, rgba(30, 30, 30, 0.402) 100%);
    filter: blur(0.5px);
}

.player-dialog > div {
    width: 100%;
    margin: auto;
}

.player-dialog > .start-message {
    font-size: var(--font-size-large);
    margin-bottom: var(--padding-display);
}

.player-input-box {
    /* border: 1px solid white; */
}

.player-input-box > label {
    /* border: 1px solid white; */
    font-size: var(--font-size-regular);
    display: block;
    margin-bottom: 10px;
}

.player-input-box > input {
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: var(--font-size-medium);
}

.input-wrapper > button {
    position: absolute;
    right: -6ch;
}

.submit-player-two {
    background: green;
    position: absolute;
    right: -6ch;
}

/* PSEUDOS */

dialog:modal {
    max-width: 100vw;
    max-height: 100vh;
}

dialog *:focus,
dialog:focus {
    appearance: none;
    outline: none;
}

.hide {
    opacity: 0;
}


/* NOTES */

/* choose your own palyer symbol? */
/* light up winning cells? !!*
//fade out board on new game
//nice effect wouldb e two have two adjacent of the saem symbol share the same box shadow border 'to symbolise' matching
//enter player name